div.app {
  height: 100%;
  width: 100%;

  --gray: #f2f2f2;
  --fg: #b0bec5;
  --accent: #009688;
  --warn: #eb5757;
  --bg-gradient: linear-gradient(145deg, #29363c, #222d32);
  --bg-solid: #263238;

  --shadow-base: 16px 16px 32px 0 #202b30,
  -16px -16px 32px 0 rgba(44, 58, 64, 0.7);
  --shadow-inset: 11px 11px 22px 0 rgba(32, 43, 48, 0.7),
  -11px -11px 22px 0 rgba(44, 58, 64, 0.7);
}

div.app.light-theme {
  --fg: #1e272c;
  --bg-gradient: linear-gradient(145deg, #ffffff, #dadada);
  --bg-solid: #f2f2f2;

  --shadow-base: 16px 16px 32px 0 #cecece,
  -16px -16px 32px 0 rgba(255, 255, 255, 0.7);
  --shadow-inset: 11px 11px 22px 0 #cecece,
  -11px -11px 22px 0 rgba(255, 255, 255, 0.7);
}

div.app {
  background: var(--bg-gradient);
  color: var(--fg);
}
